@using System.Web.Mvc
@using System.Web.Routing


@helper ReadMenu(IEnumerable<cshh.Asp.Models.Polyglot.BookmarkViewModel> bookmarks, UrlHelper urlHelper)
    {

        <link href="~/Content/book-menu.css" rel="stylesheet" />

        <div id="read-menu">
            <div id="read-menu-button">
                <span class="fa fa-angle-double-down" style="left:50%"></span>
            </div>

            <div id="read-menu-contetn">
                <ul>
                    @foreach(var bookmark in bookmarks)
                    {
                        <li id="li-bookmark-@bookmark.Id">
                            <a href="#bookmark-@bookmark.Position" title="@bookmark.Note">@bookmark.Title</a>
                            <a href="" onclick="deleteBookmarkClick(event,this,@bookmark.Id,@bookmark.Position)" title="Удалить">(х)</a>
                        </li>
                    }
                </ul>
            </div>

        </div>

        <script>
            $(function () {
                let menuButton$ = $("#read-menu-button"),
                    menu$ = $("#read-menu"),
                    menuContent$ = $("#read-menu-contetn"),
                    menuButtonIcon$ = $("#read-menu-button").find("span");

                let inDrag = false;
                
                menuButton$.click(function () {
                    if (inDrag) { inDrag = false; return; }

                    menuContent$.toggle("fold", {}, 500)

                    this.menuButtonIcon$.toggleClass("fa-angle-double-down").toggleClass("fa-angle-double-up");
                    
                });

                menu$.draggable({ start: function () { inDrag = true; } });
            });

            function deleteBookmarkClick(event, sender, id, position) {
                event.preventDefault();

                $.post("@urlHelper.Action("DeleteBookmark")" + "?id=" +id ).done(function () {
                    $(sender).parent().detach();
                    $("span#bookmark-" + position).detach();
                    alert("ok");
                });

            }
        </script>

}