#paint-sky-container > canvas {
    position: absolute;
    top: 0px;
    left: 0px;    
}

#paint-sky-container {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;    
}

.container body-content {
z-index:0;
}

.navbar {
z-index:1000;
}