
<div id="train-remember-translate">
    <div v-show="!current">Выберите слова</div>
    <button v-on:click="next">Дальше</button>
    <hr />
    <div v-show="current">
        <div v-bind:title="translate"><b>{{word}}</b></div>
        <hr />
        <div id="train-remember-translate-translates">
            <h5>Перевод</h5>
            <div>{{translate}}</div>
            <h5>Примеры</h5>
            <div>{{examples}}</div>
        </div>

    </div>
</div>

@*<style>
    #train-remember-translate-translates, #train-remember-translate-translates *, #train-remember-translate-translates *::before, #train-remember-translate-translates *::after {
        box-sizing: padding-box;
    }
</style>*@

<script>
    $(function () {

        let trainRememberTranslate = new Vue({
            el: "#train-remember-translate",
            data: {
                current: null,
                isVisibleTranslate: false
            },
            methods: {
                next: async function () {
                    this.isVisibleTranslate = false;
                    this.current = await wordSelectorVue.getWord();

                }
            },
            computed: {
                word: function () {
                    return this.current ? this.current.WordText : "";
                },
                translate: function () {
                    return this.current ? this.current.Translations || "нет перевода" : "";
                },
                examples: function () {
                  
                    if (!this.current || !this.current.examples || this.current.examples.length == 0)
                        return "";

                    var join = this.current.examples.reduce((acc, cur) => acc + (cur.Definition ? cur.Definition + ": " : "") + cur.Example + "; ","");

                    return join;
                    //return this.current ? this.current.Translations || "нет перевода" : "";
                }
            }
        });
        $("#train-remember-translate-translates").accordion({ collapsible: true, active: false });
        $("#train-remember-translate-translates div").css("height", "");//bootstrap box-sizing + jqueryui accordion issue
    });

</script>

