

<div id="train-write-from-translate-vue">

    <div v-show="current">
        <div v-bind:title="word">Перевод: <b>{{translations}}</b></div>
        <div>Примеры <input type="checkbox" v-model="showExamples"/>: <b v-show="showExamples">{{examples}}</b></div>
        <div v-show="!isCorrect" class="text-error">Неверно</div>
        <div v-show="isCorrect" class="text-positive">Верно</div>
        <input type="text" v-model="entered" v-on:keyup.enter="next" />
    </div>
    <button v-on:click="next">Дальше</button>
    <div v-show="!current">
        выберите слова
    </div>
    @*<button onClick="trainWriteFromTranslate.next()">Дальше...</button>

        <div id="train-write-from-translate-translations">
        </div>
        <input type="text" />*@

</div>


<script>
    //todo add reset statisticObject
    $(function () {
        let trainWriteFromTranslateApp = new Vue({

            el: "#train-write-from-translate-vue",
            methods: {
                next: async function () {
                    this.entered = "";
                    this.current = await wordSelectorVue.getWord();
                    if (this.current && !this.current.Translations)
                        this.current.Translations = this.current.WordText + " - нет перевода.";
                }
            },
            data: {
                current: null,
                entered: "",
                showExamples:true,
            },
            computed: {
                isCorrect: function () {
                    return this.current && this.entered.trim().toLowerCase() == this.current.WordText.toLowerCase();
                },
                translations: function () {
                    return this.current ? this.current.Translations : null;
                },
                word: function () {
                    return this.current ? this.current.WordText : null;
                },
                examples: function () {
                    if (!this.current || !this.current.examples || this.current.examples.length == 0) {
                        return "";
                    }

                    var join = this.current.examples.reduce((acc, cur) => acc + (cur.Definition ? cur.Definition + ": " : "") + cur.Example + "; ", "");
                    var word = this.word;
                    if (word) {
                        join = join.replaceAll(word, ".....");
                        join = join.replaceAll(word.charAt(0).toUpperCase() + word.slice(1), ".....");
                    }
                    return join;
                }
            }

        });

    });

</script>
