@{
    ViewBag.Title = "About";
}

<style>
    #calendarContainer {
        display: grid;
        grid-gap: 10px;
        background-color: #5d8bff;
        padding: 10px;
        width: 200px
    }

    #shiftsDesc > span {
        margin-left: 4px;
    }

    #calendarContainer > div {
        box-sizing: border-box;
    }
</style>

<input id="seekDate" type="date" onchange="shiftCalculator.showCalendar()" />
<div id="shiftsDesc"> </div>
<div id="calendarContainer"></div>

<script>

    var shiftCalculator = {
        dateInputId: "seekDate",
        calendarContainerId: "calendarContainer",
        date1Day: new Date(2020, 1, 1),
        shifts: {
            '0': { name: 'день', color: 'yellow' },
            '1': { name: 'ночь', color: 'red' },
            '2': { name: 'отсыпной', color: 'green' },
            '3': { name: 'выходной', color: 'orange' }
        },
        getSelctedDate: () => new Date(document.getElementById(shiftCalculator.dateInputId).value),
        setSelctedDate: (val) => {
            document.getElementById(shiftCalculator.dateInputId).value = val;
            shiftCalculator.showCalendar();
        },
        showCalendar: function () {
            var date = shiftCalculator.getSelctedDate();

            var calendarContainer = document.getElementById(shiftCalculator.calendarContainerId);
            calendarContainer.innerHTML = null;
            var week = 1;
            for (var i = 1; i <= 31; i++) {
                var day = new Date(date.getFullYear(), date.getMonth(), i);
                if (day.getMonth() != date.getMonth())
                    break;
                var col = day.getDay();
                if (col == 0)
                    col = 7;
                var el = document.createElement('div');
                el.innerText = i;
                el.style.gridColumn = col;
                el.style.gridRow = week;
                el.style.backgroundColor = shiftCalculator.getShift(day).color;
                if (day.getDate() == date.getDate()) {
                    el.style.border = "4px solid black";
                    el.style.margin = "-4px";
                }

                calendarContainer.appendChild(el);
                if (col == 7)
                    week++;
            }
            //shiftCalculator.showDesc('shiftsDesc');
        },
        getShift: function (day) {
            var diff = day - shiftCalculator.date1Day;
            var difDays = diff / 1000 / 3600 / 24
            var shiftID = difDays % 4;
            return shiftCalculator.shifts[shiftID];
        },
        showDesc: function (id) {

            var container = document.getElementById(id);
            for (var shiftId in shiftCalculator.shifts) {
                var shift = shiftCalculator.shifts[shiftId];
                var el = document.createElement('span');
                el.style.backgroundColor = shift.color;
                el.innerText = shift.name;
                container.appendChild(el);
            }
        }
    };

    shiftCalculator.showDesc("shiftsDesc");
    shiftCalculator.setSelctedDate(new Date().toISOString().slice(0, 10));
</script>