@{
    ViewBag.Title = "Home Page";
    //Layout = null;
}



<div class="jumbotron" style="padding:1rem;">
    <div id="clockDisplay" style="">
        <div id="dateDisplay">15.03.2015</div>
        <div id="timeDisplay">10:11:11</div>
    </div>
    <div id="arrowTime" style="width:200px; margin:auto;">

    </div>
</div>

<div id="paint-sky-container">
</div>

@section styles{
    <link href="~/Content/time.css" rel="stylesheet" />
    <link href="~/Content/paint-sky.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/time.js"></script>
    <script src="~/Scripts/time-arrow.js"></script>
    <script>
        let clock = new ArrowClock(
            'arrowTime',
            180, 20,
            '@Url.Content("~/Content/images/arrowclockface.png")');
        clock.draw();
    </script>

    <script src="~/Scripts/paint-sky.js"></script>
}

@*@JqGrid.JqGridBundles()*@


@*<link href="http://www.guriddo.net/demo/css/jquery-ui.css" rel="stylesheet" />
    <link href="http://www.guriddo.net/demo/css/trirand/ui.jqgrid.css" rel="stylesheet" />

    <script src="http://www.guriddo.net/demo/js/jquery.min.js"></script>
    <script src="http://www.guriddo.net/demo/js/trirand/jquery.jqGrid.min.js"></script>
    <script src="http://www.guriddo.net/demo/js/trirand/i18n/grid.locale-en.js"></script>*@

@*@JqGrid.JqGridBundles()

    @Html.Action("JqGridEditList", "ForeignText", new { area = "polyglot" })*@