@{
    ViewBag.Title = "Home Page";
    //Layout = null;
}



<div class="jumbotron collapse show" style="padding:1rem; margin-bottom:0px;" id="collapseExample">
    <div id="clockDisplay" style="">
        <div id="dateDisplay">15.03.2015</div>
        <div id="timeDisplay">10:11:11</div>
    </div>
    <div id="arrowTime" style="width:200px; margin:auto;">

    </div>    
</div>
<button data-toggle="collapse" class="btn" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" role="button" style="display:block; margin:auto;height:20px; padding:0px 20px; border-radius:0px 0px 10px 10px;"><b>﹀</b></button>
    
<div id="paint-sky-container">
</div>

@section styles{
    <link href="~/Content/time.css" rel="stylesheet" />
    <link href="~/Content/paint-sky.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/time.js"></script>
    <script src="~/Scripts/time-arrow.js"></script>
    <script src="~/Scripts/paint-sky.js"></script>
    <script>
        let clock = new ArrowClock(
            'arrowTime',
            180, 20,
            '@Url.Content("~/Content/images/arrowclockface.png")');
        clock.draw();

        let paintsky = new paintSky('paint-sky-container');
        addNavLink('#', 'Hide', function () {
            var cvs = $('#paint-sky-container')[0];
            document.body.innerHTML = "";
            document.body.appendChild(cvs);
            //$('*').css('display','none');
            //$('#paint-sky-container, #paint-sky-container *, body').css('display', 'block');
        });



    </script>
}

@*@JqGrid.JqGridBundles()*@


@*<link href="http://www.guriddo.net/demo/css/jquery-ui.css" rel="stylesheet" />
    <link href="http://www.guriddo.net/demo/css/trirand/ui.jqgrid.css" rel="stylesheet" />

    <script src="http://www.guriddo.net/demo/js/jquery.min.js"></script>
    <script src="http://www.guriddo.net/demo/js/trirand/jquery.jqGrid.min.js"></script>
    <script src="http://www.guriddo.net/demo/js/trirand/i18n/grid.locale-en.js"></script>*@

@*@JqGrid.JqGridBundles()
    @Html.Action("JqGridEditList", "ForeignText", new { area = "polyglot" })*@